@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
* {
    margin: 0;
    padding: 0
}
body {
    font-family: Helvetica;
}
#container {
    max-width: 800px;
    margin: 0 auto;
}
